.header_container {
  min-height: 48px;
  width: 100%;
  background: #474E75;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.header_container .container {
  line-height: 48px;
}
@media screen and (min-width: 992px) {
  .header_container .container {
    width: 100%;
  }
}
.header_container .logo {
  line-height: 0;
  padding-top: 12px;
  margin-right: 35px;
  margin-bottom: 12px;
}
.header_container .search-form {
  width: 345px;
  margin-left: 30%;
  margin-top: 8px;
}
@media screen and (max-width: 1200px) {
  .header_container .search-form {
    visibility: visible !important;
    display: block !important;
    height: auto !important;
  }
}
@media screen and (max-width: 991px) {
  .header_container .search-form {
    width: 100%;
    margin: 0;
    width: 0;
  }
}
.header_container .search-form .search {
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .header_container .search-form .search {
    visibility: visible !important;
    display: block !important;
    height: auto !important;
  }
}
@media screen and (max-width: 991px) {
  .header_container .search-form .search {
    position: absolute;
    left: 0;
    top: 48px;
    width: 100%;
    margin: 0;
  }
  .header_container .search-form .search:before {
    content: '';
    position: absolute;
    top: -14px;
    left: 193px;
    border: 7px solid transparent;
    border-bottom-color: #fff;
    left: 66.6%;
  }
}
.header_container .search-form .search-toggle {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 5;
}
.header_container .search-form .search-toggle:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
  width: 17px;
  height: 17px;
  background: url(../img/search.png) no-repeat 0 0;
}
@media screen and (max-width: 991px) {
  .header_container .search-form .search-toggle {
    position: absolute;
    left: 66.6%;
    top: 8px;
    width: 19px;
  }
}
.header_container .search-form input[type=text] {
  display: block;
  width: 100%;
  border-radius: 0;
  height: 32px;
  display: block;
  background: #3A4064;
  font-size: 16px;
  padding: 0 40px 3px 12px;
  color: #a9b4d8;
  font-weight: normal;
  border: none;
  outline: none;
  box-shadow: none;
}
@media screen and (max-width: 991px) {
  .header_container .search-form input[type=text] {
    height: 55px;
    line-height: 17px;
    padding: 19px 20px;
    background: #fff;
    box-shadow: 0 10px 10px 2px #E1E5F0;
  }
  .header_container .search-form input[type=text]:focus + [type=submit] {
    color: #2238bb;
    width: auto;
    padding: 0 30px;
  }
}
.header_container .search-form input[type=text]:focus {
  background: #fff;
  color: #000;
}
.header_container .search-form input[type=text]:focus + [type=submit]:before {
  background-position: 0 -17px;
}
.header_container .search-form input[type=text]::-webkit-input-placeholder {
  color: #a9b4d8;
}
.header_container .search-form input[type=text]::-moz-placeholder {
  color: #a9b4d8;
}
.header_container .search-form input[type=text]:-moz-placeholder {
  color: #a9b4d8;
}
.header_container .search-form input[type=text]:-ms-input-placeholder {
  color: #a9b4d8;
}
.header_container .search-form [type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  z-index: 5;
  font-size: 0;
  background: transparent;
}
@media screen and (max-width: 991px) {
  .header_container .search-form [type=submit] {
    font-family: 'Myriad Pro';
    font-size: 20px;
    line-height: 40px;
    font-weight: normal;
    width: 0;
    background: #fff;
    color: transparent;
    -ms-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
  }
  .header_container .search-form [type=submit]:before {
    content: none !important;
  }
}
.header_container .search-form [type=submit]:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
  width: 17px;
  height: 17px;
  background: url(../img/search.png) no-repeat 0 0;
}
@media screen and (max-width: 991px) {
  .header_container .menu {
    width: 0;
  }
}

.header_container .menu_open {
  position: absolute;
  left: 18%;
  color: #FDF4AC;
  font-size: 16px;
  height: 18px;
  cursor: pointer;
  text-decoration: none !important;
}
@media screen and (max-width: 991px) {
  .header_container .menu_open {
    left: 33.3%;
    top: 18px;
    z-index: 5;
    width: 19px;
    font-size: 0;
    line-height: 0;
  }
  .header_container .menu_open div {
    margin: 0;
  }
}

.header_container .menu_open div {
  width: 19px;
  overflow: hidden;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}

.header_container .menu_open span {
  height: 1px;
  display: block;
  margin-bottom: 5px;
}
.header_container .menu_open span:first-child {
  background: #fff3b0;
}
.header_container .menu_open span:nth-child(2) {
  background: #e3cf89;
}
.header_container .menu_open span:last-child {
  background: #ad9965;
}

.header_container .hover_menu {
  position: absolute;
  left: 15px;
  right: 15px;
  width: auto !important;
  top: 46px;
  background: #FFFFFF;
  z-index: 1;
  box-shadow: 5px 14px 30px 5px #E1E5F0;
}
@media screen and (max-width: 991px) {
  .header_container .hover_menu {
    left: 5px !important;
    right: 5px !important;
    width: auto !important;
  }
}

.header_container .hover_menu:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 18%;
  border: 7px solid transparent;
  border-bottom-color: #fff;
}
@media screen and (max-width: 991px) {
  .header_container .hover_menu:before {
    left: 33.4% !important;
  }
}

.header_container .vertical .tabs {
  width: 150px;
  float: left;
  list-style: none;
  box-shadow: 5px 12px 12px 5px #E1E5F0;
}
@media screen and (max-width: 767px) {
  .header_container .vertical .tabs {
    position: relative !important;
    float: none !important;
    box-shadow: 0 10px 10px 2px #E1E5F0;
    overflow: hidden;
    width: 100%;
  }
  .header_container .vertical .tabs li:first-child {
    border-top: 0 !important;
  }
}

.header_container .vertical .tabs li {
  color: #2238bb;
  line-height: 37px;
  border-top: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
}

.header_container .vertical .tabs li:nth-child(3) {
  margin-bottom: 10px;
}

.header_container .vertical .tabs li:hover,
.header_container .vertical .tabs li.current {
  cursor: pointer;
  background: -webkit-linear-gradient(top, #EAE3B6, #FCF9D2);
  background: -moz-linear-gradient(top, #EAE3B6, #FCF9D2);
  background: -o-linear-gradient(top, #EAE3B6, #FCF9D2);
  background: -ms-linear-gradient(top, #EAE3B6, #FCF9D2);
  background: linear-gradient(top, #EAE3B6, #FCF9D2);
  position: relative;
  border-top: 1px solid #C9B98F;
}

.header_container .vertical .section .tabs li.current {
  color: #444;
  background: #EFEFEF;
  padding: 0 13px 2px;
  border: 1px solid #D4D4D4;
  border-bottom: 1px solid #EFEFEF;
}

.header_container .box {
  display: none;
  padding-right: 40px;
  padding-left: 190px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.2;
  min-height: 238px;
}
@media screen and (max-width: 767px) {
  .header_container .box {
    padding: 15px 0;
    text-align: center;
  }
}

.header_container .box.visible {
  display: block;
}

.header_container .hover_menu .nav-tabs {
  height: 50px;
  border-bottom: 1px solid #D3D3D4;
  text-align: center;
}

.header_container .hover_menu .nav-tabs li {
  float: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.header_container .hover_menu .nav-tabs li a {
  line-height: 49px;
  padding: 0;
  color: #2238bb;
  font-size: 18px;
  border: none;
}

.header_container .hover_menu .nav-tabs li a:hover,
.header_container .hover_menu .nav-tabs > li.active > a,
.header_container .hover_menu .nav-tabs > li.active > a:hover,
.header_container .hover_menu .nav-tabs > li.active > a:focus {
  color: #000;
  background: none;
  border: none;
  border-bottom: 1px solid #1900DE;
}

.header_container .hover_menu .tab-content .tab-pane {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 25px;
}

.header_container .hover_menu .tab-content a {
  border: 1px solid #92E142;
  display: inline-block;
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 17px;
  text-decoration: none;
  color: #000;
  margin-left: 1px;
  margin-right: 2px;
  margin-bottom: 10px;
  line-height: 1.3;
}

.header_container .hover_menu .tab-content a:hover {
  border-color: #92E142;
  background: -webkit-linear-gradient(top, #61B100, #85D92C);
  background: -moz-linear-gradient(top, #61B100, #85D92C);
  background: -o-linear-gradient(top, #61B100, #85D92C);
  background: -ms-linear-gradient(top, #61B100, #85D92C);
  background: linear-gradient(top, #61B100, #85D92C);
  color: #fff;
}

.header_container .login {
  font-size: 16px;
  display: none;
  position: absolute;
  right: 15px;
  top: 0;
}

.header_container .login a.enter,
.header_container .login a.registration {
  color: #fbedaa;
  border: 1px solid transparent;
  text-decoration: none;
  outline: none;
}

.header_container .login a.enter {
  line-height: 20px;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .header_container .login a.enter {
    display: block;
    font-size: 0;
    width: 26px;
    height: 26px;
    margin-top: 11px;
    background: url(../img/login_rwd.png) no-repeat 0 0;
    border: 0 !important;
  }
}

.header_container .login a.enter:hover {
  border-bottom: 1px solid;
}

.header_container .login a.registration {
  padding-left: 18px;
  padding-right: 18px;
  border-color: #F8EEA6;
  margin-right: 25px;
  border-radius: 20px;
  padding-top: 3px;
  padding-bottom: 5px;
}
@media screen and (max-width: 991px) {
  .header_container .login a.registration {
    display: none;
  }
}

.header_container .login a.registration:hover {
  box-shadow: inset 0 0 3px 2px #F8EEA6;
}

.header_container .login a.registration:active {
  background: #FFE450;
  color: #fff;
  border-color: transparent;
  box-shadow: none;
}

.header_container .user {
  position: absolute;
  right: 15px;
  top: 0;
}
.header_container .user .dropdown-menu {
  display: block;
  left: auto;
  right: 0;
}
@media screen and (max-width: 991px) {
  .header_container .user .dropdown .name, .header_container .user .dropdown .caret {
    display: none;
  }
  .header_container .user .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 5;
    margin: 0;
  }
  .header_container .user .dropdown-menu:before {
    left: auto;
    right: 13px;
  }
}

.header_container .user .avatar {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}

.header_container .user .dropdown {
  display: inline-block;
  vertical-align: top;
  margin-left: 7px;
}

.header_container .user .dropdown button {
  color: #f2e5a7;
  font-size: 16px;
  position: relative;
  top: 1px;
}

.header_container .user .dropdown button:hover .name:hover {
  text-decoration: underline;
}

.header_container .user .dropdown button:hover {
  text-decoration: none !important;
}

.header_container .user .dropdown button:hover .name {
  border-color: #f2e5a7;
}

.header_container .user .dropdown span.caret {
  background-position: 0 -15px;
}

.header_container .user .dropdown ul {
  width: 270px;
}

.header_container .user .dropdown-menu > li > a .number {
  color: #2eb234;
}

.header_container .user .dropdown-menu > li.add > a:before {
  content: '';
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  background: url(../img/begin.png);
  background-position: 0 -33px;
  margin-right: 8px;
  float: left;
}

.modal-dialog {
  margin-left: auto;
  margin-right: auto;
}

/* Main nav
------------------------------------------------------------------------------------ */
.main_nav_container {
  border-bottom: 1px solid #d0d1d5;
  padding-top: 20px;
}
.main_nav_container .col-sm-4 {
  position: static;
}
.main_nav_container .container {
  position: relative;
  min-height: 45px;
}
@media screen and (max-width: 991px) {
  .main_nav_container ul.main_nav {
    font-size: 15px;
    max-width: 160px;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
    min-width: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .main_nav_container ul.main_nav:before {
    content: '';
    border-bottom: 7px solid #fff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -7px;
  }
  .main_nav_container ul.main_nav li a {
    display: block;
    padding: 7px 25px !important;
    color: #2238bb;
    text-decoration: none !important;
    border-top: 1px solid transparent;
  }
  .main_nav_container ul.main_nav li a.active {
    font-weight: bold;
    margin: 0 !important;
  }
  .main_nav_container ul.main_nav li a:hover {
    border-top: 1px solid #cdba92;
    background: #452e16;
    background: -moz-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: -webkit-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: -o-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: -ms-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    color: #2238bb;
  }
  .main_nav_container ul.main_nav li {
    display: block !important;
  }
}

.main_nav_container ul.main_nav {
  position: relative;
}
@media screen and (min-width: 992px) {
  .main_nav_container ul.main_nav {
    display: block !important;
    visibility: visible !important;
  }
}

.main_nav_container ul.main_nav li {
  display: inline-block;
}

.main_nav_container ul.main_nav li a {
  padding: 18px 25px 14px;
  display: block;
  font-size: 20px;
}

.main_nav_container ul.main_nav li a.active {
  color: #000000;
}
@media screen and (min-width: 992px) {
  .main_nav_container ul.main_nav li a.active {
    border: 1px solid #d0d1d5;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    box-shadow: -4px -7px 12px rgba(111, 129, 184, 0.1), 9px -6px 12px rgba(111, 129, 184, 0.1);
  }
}

.main_nav_container ul.main_nav li a.active:hover {
  text-decoration: none;
}

.main_nav_container ul.main_nav li.disabled a {
  pointer-events: none;
  cursor: default;
  color: #d1d2df;
}

.main_nav_container .begin_practic {
  padding-top: 20px;
}
@media screen and (max-width: 991px) {
  .main_nav_container .begin_practic {
    float: right;
    padding: 0;
  }
  .main_nav_container .begin_practic .help {
    display: none !important;
  }
  .main_nav_container .begin_practic .begin {
    margin: 0 !important;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
    line-height: 0;
  }
  .main_nav_container .begin_practic .begin a {
    font-size: 0 !important;
  }
}

.main_nav_container .begin_practic .help,
.main_nav_container .begin_practic .begin {
  display: inline-block;
}

.main_nav_container .begin_practic .begin {
  margin-right: 30px;
}

.main_nav_container .begin_practic a {
  font-size: 16px;
  line-height: 30px;
}

.main_nav_container .begin_practic .begin a:hover {
  color: #f9cd00;
}

.main_nav_container .begin_practic .begin a:before {
  content: '';
  width: 31px;
  height: 31px;
  float: left;
  background: url(../img/begin.png);
  margin-right: 7px;
}

.main_nav_container .begin_practic .begin a:hover:before {
  background-position: -32px 0px;
}

.main_nav_container .begin_practic .begin a:active:before {
  background-position: -64px 0px;
}

.main_nav_toggle {
  font-size: 25px;
  line-height: 1;
  color: #2238ba;
  text-decoration: none !important;
}
