@font-face {
    font-family: 'PTSerif';
    src: url('../fonts/PTSerif.eot');
    src: url('../fonts/PTSerif.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSerif.woff') format('woff'),
         url('../fonts/PTSerif.ttf') format('truetype'),
         url('../fonts/PTSerif.otf') format('otf');
}