* {
    background-repeat: no-repeat;
}
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    padding-top: 48px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 {
	font-size: 56px;
	color: #000000;
}
h3 {
	font-size: 28px;
	font-family: 'PTSerif';
}
h4 {
	font-size: 21px;
	color: #000000;
	font-weight: 700;
}
h5 {
	font-size: 18px;
	color: #060606;
	font-weight: 700;
}
h6 {
	font-size: 16px;
	font-family: 'PT Sans';
	font-weight: 700;
}
p, a, ul, li, input, label, button, textarea {
    margin: 0;
    padding: 0;
}
p {
	font-size: 16px;
	color: #000000;
}
a {
    color: #2639ad;
}
a:hover {
    text-decoration: underline;
}
a:active {
	color: #f9cd00;
	text-decoration: none;
}

input[type="text"],
textarea {
	border: 1px solid #C1C8D3;
	width: 100%;
	outline: none;
	color: #212121;
	font-size: 15px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	line-height: 20px;
}
textarea {
	max-width: 100%;
	width: 100%;
}
input[type="text"]:focus,
textarea:focus {
	box-shadow: 0 0 3px 2px #F8EEA6;
	border-color: #FBE749;
}
.dropdown {
    font-size: 15px;
    color: #2238bb;
}
.dropdown button {
    background: none;
    border: none;
    outline: none;
    font-size: 15px;
    color: #2639ad;
}

.btn_white,
a.btn_white {
	width: 100%;
	height: 40px;
	border: 1px solid #737373;
	border-radius: 20px;
	background: none;
	font-size: 17px;
	color: #000;
	outline: none;
	text-decoration: none;
}
.btn_green,
a .btn_green {
	color: #50ba00;
	font-size: 24px;
	padding: 8px 30px 9px;
	border: 2px solid #7FD400;
	border-radius: 50px;
	background: none;
	text-decoration: none;
	outline: none;
}
.btn_white:hover,
a.btn_white:hover,
.btn_green:hover,
a .btn_green:hover {
	border-color: #FBE63E;
	box-shadow: 0 0 8px #FBE63E;
	color: #FBE63E;
}
.btn_white:active,
a.btn_white:active,
.btn_green:active,
a .btn_green:active {
	color: #fff;
	background: #FBE63E;
	border-color: #FBE63E;
	box-shadow: none;
}
.dropdown span.caret {
    border: none;
    width: 9px;
    height: 6px;
    background: url(../img/arrows.png) no-repeat;
}
.dropdown-menu {
    font-size: 15px;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 12px 2px rgba(0,0,0,0.1);
    min-width: 100px;
    margin-top: 10px;
}
.dropdown-menu:before {
    content: '';
    border-bottom: 7px solid #fff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -7px;
}
.dropdown-menu li a {
    margin-top: 1px;
    padding: 7px 15px;
    color: #2238bb;
}
.dropdown-menu li a:hover {
    border-top: 1px solid #cdba92;
    margin-top: 0;
    background: #452e16;
    background: -moz-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: -webkit-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: -o-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: -ms-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    color: #2238bb;
}
.dropdown button:hover {
    text-decoration: underline;
}
.dropdown button:active {
	color: #f9cd00;
	text-decoration: none;
}
.dropdown button:active span.caret {
    background-position: 0 -15px;
}
.dropdown.open button {
    color: #ed4848;
}
.dropdown.open button:hover {
	text-decoration: none;
}
.dropdown.open span.caret {
    background-position: 0 -7px;
}

.modal-backdrop.in {
	opacity: 1;
}
.modal-backdrop {
	background: rgba(254,248,204,.6);
	background: -moz-linear-gradient(top,  rgba(254,248,204,.6) 5%, rgba(246,215,63,.6) 50%, rgba(152,79,51,.6) 96%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(254,248,204,.7)), color-stop(50%,rgba(246,215,63,.6)), color-stop(96%,rgba(152,79,51,.6)));
	background: -webkit-linear-gradient(top,  rgba(254,248,204,.6) 5%,rgba(246,215,63,.6) 50%,rgba(152,79,51,.6) 96%);
	background: -o-linear-gradient(top,  rgba(254,248,204,.6) 5%,rgba(246,215,63,.6) 50%,rgba(152,79,51,.6) 96%);
	background: -ms-linear-gradient(top,  rgba(254,248,204,.6) 5%,rgba(246,215,63,.6) 50%,rgba(152,79,51,.6) 96%);
	background: linear-gradient(to bottom,  rgba(254,248,204,.6) 5%,rgba(246,215,63,.6) 50%,rgba(152,79,51,.6) 96%);
}
.modal-dialog {
	width: 330px;
	margin-top: 8%;
	text-align: center;
	padding-bottom: 40px;
	background: #fff;
	border-radius: 5px;
}
.modal-dialog .modal-content {
	box-shadow: none;
	border: none;
}
.modal-dialog .modal-content .nav-tabs {
	border-bottom: none;
	padding: 0;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	margin-bottom: 40px;
}
.modal-dialog .modal-content .close {
	position: absolute;
	right: -46px;
	top: 22px;
	width: 21px;
	height: 22px;
	background: url(../img/modal_close.png);
	opacity: 1;
	outline: none;
}
.modal-dialog .modal-content .nav-tabs li a {
	background: #EEF6FF;
	height: 64px;
	font-size: 20px;
	text-align: center;
	line-height: 64px;
	text-decoration: none;
	margin: 0;
	padding: 0;
	display: block;
	border: none;
}
.modal-dialog .modal-content .nav-tabs li.modal_enter {
	width: 38%;
	/*border-right: 1px solid #CAD8E6;*/
}
.modal-dialog .modal-content li.modal_registration {
	width: 62%;
}
.modal-dialog .modal-content li.active  a {
	background: #fff;
	color: #000;
	font-weight: bold;
}
.modal-dialog .modal-content .modal-body {
	padding: 0;
}
.modal-dialog .modal-content .modal-body p {
	font-size: 17px;
	color: #2e1717;
	width: 226px;
	margin: auto;
	line-height: 20px;
}
.modal-dialog .modal-content .social {
	border-bottom: 1px solid #D1DFEF;
	padding-bottom: 30px;
	margin-top: 12px;
	margin-bottom: 30px;
}
.modal-dialog .modal-content .social a {
	height: 56px;
	width: 200px;
	line-height: 56px;
	border-radius: 60px;
	display: inline-block;
	color: #fff;
	margin-bottom: 10px;
	font-size: 21px;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}
.modal-dialog .modal-content .social a img {
	margin-top: 18px;
	margin-left: 15px;
	float: left;
}
.modal-dialog .modal-content .social a.vk {
	background: #699DCD;
}
.modal-dialog .modal-content .social a.fb {
	background: #4E6AD2;
}
.modal-dialog .modal-content .social a:hover {
	opacity: .8;
}
.modal-dialog .modal-body form {
	width: 226px;
	margin: auto;
}
.modal-dialog .modal-content .modal-body form p {
	margin-bottom: 12px;
}
.modal-dialog .modal-body h1 {
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 18px;
	margin-top: 10px;
}
.modal-dialog .modal-body form input[type="text"] {
	width: 100%;
	height: 38px;
	outline: none;
	border-radius: 1px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 15px;
	color: #a7b4c2;
	font-size: 16px;
}
.modal-dialog .modal-body form .agreement {
	font-size: 13px;
	color: #8b8b8b;
	width: 230px;
  line-height: 1.25;
	display: inline-block;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 5px;
}

.reg-sub{
  line-height: 38px;
}

.modal-dialog .modal-footer {
	border-top: none;
	text-align: center;
  position: relative;
  line-height: 1;
}

.modal-dialog .modal-footer input[type=checkbox]{
  position: absolute;
  left: -9999px;
}

.modal-dialog .modal-footer a, .modal-dialog .modal-footer label {
	text-decoration: none;
	line-height: 14px;
	font-size: 14px;
	margin-left: 9px;
	margin-right: 9px;
  color: #2639ad;
}

.modal-dialog .modal-footer a, .modal-dialog .modal-footer label span{
  border-bottom: 1px dotted #ACABFF;
  display: inline-block;
}

.modal-dialog .modal-footer a:hover,  .modal-dialog .modal-footer label:hover span{
	border: none;
}

.modal-dialog .modal-footer label {
	font-weight: normal;
	cursor: pointer;
	position: relative;
	margin-left: 5px;
  display: inline-block;
  padding-left: 20px;
}

.modal-dialog .modal-footer label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 1px;
	width: 13px;
	height: 13px;
	border: 1px solid #707070;
}

.modal-dialog .modal-footer input:checked + label:before {
	background: url(../img/remember_checked.jpg) no-repeat center center;
}
.modal-dialog .modal-content .modal-body p.address {
	font-size: 16px;
	color: #393939;
	line-height: 20px;
	margin-top: 20px;
	margin-bottom: 12px;
}
.modal-dialog .modal-content .modal-body p.address span {
	color: #ff5353;
}
.modal-dialog .modal-content .modal-body .done p.address {
	width: 250px;
}
.modal-dialog .modal-content .modal-body .done p.address span {
	color: #1d9b00;
}

.autocomplete {
    font-size: 15px;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 12px 2px rgba(0,0,0,0.1);
    min-width: 100px;
    width: 500px;
}
.autocomplete ul {
	border-bottom: 1px solid #D9DBE6;
}
.autocomplete li {
    padding: 8px 20px 9px;
    line-height: 19px;
    padding-right: 105px;
    color: #000;
    border-top: 1px solid transparent;
    position: relative;
}
.autocomplete li:hover {
    border-top: 1px solid #cdba92;
    background: #452e16;
    background: -moz-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: -webkit-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: -o-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: -ms-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
}
.autocomplete li span {
	position: absolute;
	font-size: 14px;
	color: #acacac;
	right: 20px;
	top: 9px;
}
.autocomplete li span.green:before,
.autocomplete li span.yellow:before {
	content: '';
	width: 7px;
	height: 7px;
	border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.autocomplete li span.green:before {
	content: '';
	background: -moz-linear-gradient(top, #64B300, #AAED6F);
    background: -webkit-linear-gradient(top, #64B300, #AAED6F);
    background: -o-linear-gradient(top, #64B300, #AAED6F);
    background: -ms-linear-gradient(top, #64B300, #AAED6F);
    background: linear-gradient(top, #64B300, #AAED6F);
}
.autocomplete li span.yellow:before {
	content: '';
	background: -moz-linear-gradient(top, #C7A95B, #E7D981);
    background: -webkit-linear-gradient(top, #C7A95B, #E7D981);
    background: -o-linear-gradient(top, #C7A95B, #E7D981);
    background: -ms-linear-gradient(top, #C7A95B, #E7D981);
    background: linear-gradient(top, #C7A95B, #E7D981);
}
.autocomplete .all_result {
	line-height: 50px;
	font-size: 15px;
	text-align: center;
}
.autocomplete .all_result a:hover {
	color: #2639ad;
}
.autocomplete .all_result a:active {
	color: #f9cd00;
}


.header_container {
  min-height: 48px;
  width: 100%;
  background: #474E75;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.header_container .container {
  line-height: 48px;
}
@media screen and (min-width: 992px) {
  .header_container .container {
    width: 100%;
  }
}
.header_container .logo {
  line-height: 0;
  padding-top: 12px;
  margin-right: 35px;
  margin-bottom: 12px;
}
.header_container .search-form {
  width: 345px;
  margin-left: 245px;
  margin-top: 8px;
}
@media screen and (max-width: 1200px) {
  .header_container .search-form {
    visibility: visible !important;
    display: block !important;
    height: auto !important;
  }
}
@media screen and (max-width: 991px) {
  .header_container .search-form {
    width: 100%;
    margin: 0;
    width: 0;
  }
}
.header_container .search-form .search {
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .header_container .search-form .search {
    visibility: visible !important;
    display: block !important;
    height: auto !important;
  }
}
@media screen and (max-width: 991px) {
  .header_container .search-form .search {
    position: absolute;
    left: 0;
    top: 48px;
    width: 100%;
    margin: 0;
  }
  .header_container .search-form .search:before {
    content: '';
    position: absolute;
    top: -14px;
    left: 193px;
    border: 7px solid transparent;
    border-bottom-color: #fff;
    left: 66.6%;
  }
}
.header_container .search-form .search-toggle {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 5;
}
.header_container .search-form .search-toggle:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
  width: 17px;
  height: 17px;
  background: url(../img/search.png) no-repeat 0 0;
}
@media screen and (max-width: 991px) {
  .header_container .search-form .search-toggle {
    position: absolute;
    left: 66.6%;
    top: 8px;
    width: 19px;
  }
}
.header_container .search-form input[type=text] {
  display: block;
  width: 100%;
  border-radius: 0;
  height: 32px;
  display: block;
  background: #3A4064;
  font-size: 16px;
  padding: 0 40px 3px 12px;
  color: #a9b4d8;
  font-weight: normal;
  border: none;
  outline: none;
  box-shadow: none;
}
@media screen and (max-width: 991px) {
  .header_container .search-form input[type=text] {
    height: 55px;
    line-height: 17px;
    padding: 19px 20px;
    background: #fff;
    box-shadow: 0 10px 10px 2px #E1E5F0;
  }
  .header_container .search-form input[type=text]:focus + [type=submit] {
    color: #2238bb;
    width: auto;
    padding: 0 30px;
  }
}
.header_container .search-form input[type=text]:focus {
  background: #fff;
  color: #000;
}
.header_container .search-form input[type=text]:focus + [type=submit]:before {
  background-position: 0 -17px;
}
.header_container .search-form input[type=text]::-webkit-input-placeholder {
  color: #a9b4d8;
}
.header_container .search-form input[type=text]::-moz-placeholder {
  color: #a9b4d8;
}
.header_container .search-form input[type=text]:-moz-placeholder {
  color: #a9b4d8;
}
.header_container .search-form input[type=text]:-ms-input-placeholder {
  color: #a9b4d8;
}
.header_container .search-form [type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  z-index: 5;
  font-size: 0;
  background: transparent;
}
@media screen and (max-width: 991px) {
  .header_container .search-form [type=submit] {
    font-family: 'Myriad Pro';
    font-size: 20px;
    line-height: 40px;
    font-weight: normal;
    width: 0;
    background: #fff;
    color: transparent;
    -ms-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
  }
  .header_container .search-form [type=submit]:before {
    content: none !important;
  }
}
.header_container .search-form [type=submit]:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
  width: 17px;
  height: 17px;
  background: url(../img/search.png) no-repeat 0 0;
}
@media screen and (max-width: 991px) {
  .header_container .menu {
    width: 0;
  }
}

.header_container .menu_open {
  position: absolute;
  left: 161px;
  color: #FDF4AC;
  font-size: 16px;
  height: 48px;
  padding: 1px 0 0;
  cursor: pointer;
  text-decoration: none !important;
}
.header_container .menu_open div {
  position: relative;
  top: -1px;
}


@media screen and (max-width: 991px) {
  .header_container .menu_open {
    left: 33.3%;
    top: 18px;
    height: 18px;
    z-index: 5;
    width: 19px;
    font-size: 0;
    line-height: 0;
    padding: 0;
  }
  .header_container .menu_open div {
    margin: 0;
    top: 0;
  }
}

.header_container .menu_open div {
  width: 19px;
  overflow: hidden;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}

.header_container .menu_open span {
  height: 1px;
  display: block;
  margin-bottom: 5px;
}
.header_container .menu_open span:first-child {
  background: #fff3b0;
}
.header_container .menu_open span:nth-child(2) {
  background: #e3cf89;
}
.header_container .menu_open span:last-child {
  background: #ad9965;
}

.header_container .hover_menu {
  position: absolute;
  left: 15px;
  right: 15px;
  width: auto !important;
  top: 46px;
  background: #FFFFFF;
  z-index: 1;
  box-shadow: 5px 14px 30px 5px #E1E5F0;
}
@media screen and (max-width: 991px) {
  .header_container .hover_menu {
    left: 5px !important;
    right: 5px !important;
    width: auto !important;
  }
}

.header_container .hover_menu:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 149px;
  border: 7px solid transparent;
  border-bottom-color: #fff;
}
@media screen and (max-width: 991px) {
  .header_container .hover_menu:before {
    left: 33.4% !important;
  }
}

.header_container .vertical .tabs {
  width: 150px;
  float: left;
  list-style: none;
  box-shadow: 5px 12px 12px 5px #E1E5F0;
}
@media screen and (max-width: 767px) {
  .header_container .vertical .tabs {
    position: relative !important;
    float: none !important;
    box-shadow: 0 10px 10px 2px #E1E5F0;
    overflow: hidden;
    width: 100%;
  }
  .header_container .vertical .tabs li:first-child {
    border-top: 0 !important;
  }
}

.header_container .vertical .tabs li {
  color: #2238bb;
  line-height: 37px;
  border-top: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
}

.header_container .vertical .tabs li:nth-child(3) {
  margin-bottom: 10px;
}

.header_container .vertical .tabs li:hover,
.header_container .vertical .tabs li.current {
  cursor: pointer;
  background: -webkit-linear-gradient(top, #EAE3B6, #FCF9D2);
  background: -moz-linear-gradient(top, #EAE3B6, #FCF9D2);
  background: -o-linear-gradient(top, #EAE3B6, #FCF9D2);
  background: -ms-linear-gradient(top, #EAE3B6, #FCF9D2);
  background: linear-gradient(top, #EAE3B6, #FCF9D2);
  position: relative;
  border-top: 1px solid #C9B98F;
}

.header_container .vertical .section .tabs li.current {
  color: #444;
  background: #EFEFEF;
  padding: 0 13px 2px;
  border: 1px solid #D4D4D4;
  border-bottom: 1px solid #EFEFEF;
}

.header_container .box {
  display: none;
  padding-right: 40px;
  padding-left: 190px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.2;
  min-height: 238px;
}
@media screen and (max-width: 767px) {
  .header_container .box {
    padding: 15px 0;
    text-align: center;
  }
}

.header_container .box.visible {
  display: block;
}

.header_container .hover_menu .nav-tabs {
  height: 50px;
  border-bottom: 1px solid #D3D3D4;
  text-align: center;
}

.header_container .hover_menu .nav-tabs li {
  float: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.header_container .hover_menu .nav-tabs li a {
  line-height: 49px;
  padding: 0;
  color: #2238bb;
  font-size: 18px;
  border: none;
}

.header_container .hover_menu .nav-tabs li a:hover,
.header_container .hover_menu .nav-tabs > li.active > a,
.header_container .hover_menu .nav-tabs > li.active > a:hover,
.header_container .hover_menu .nav-tabs > li.active > a:focus {
  color: #000;
  background: none;
  border: none;
  border-bottom: 1px solid #1900DE;
}

.header_container .hover_menu .tab-content .tab-pane {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 25px;
}

.header_container .hover_menu .tab-content a {
  border: 1px solid #92E142;
  display: inline-block;
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 17px;
  text-decoration: none;
  color: #000;
  margin-left: 1px;
  margin-right: 2px;
  margin-bottom: 10px;
  line-height: 1.3;
}

.header_container .hover_menu .tab-content a:hover {
  border-color: #92E142;
  background: -webkit-linear-gradient(top, #61B100, #85D92C);
  background: -moz-linear-gradient(top, #61B100, #85D92C);
  background: -o-linear-gradient(top, #61B100, #85D92C);
  background: -ms-linear-gradient(top, #61B100, #85D92C);
  background: linear-gradient(top, #61B100, #85D92C);
  color: #fff;
}

.header_container .login {
  font-size: 16px;
  display: none;
  position: absolute;
  right: 15px;
  top: 0;
}

.header_container .login a.enter,
.header_container .login a.registration {
  color: #fbedaa;
  border: 1px solid transparent;
  text-decoration: none;
  outline: none;
}

.header_container .login a.enter {
  line-height: 20px;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .header_container .login a.enter {
    display: block;
    font-size: 0;
    width: 26px;
    height: 26px;
    margin-top: 11px;
    background: url(../img/login_rwd.png) no-repeat 0 0;
    border: 0 !important;
  }
}

.header_container .login a.enter:hover {
  border-bottom: 1px solid;
}

.header_container .login a.registration {
  padding-left: 18px;
  padding-right: 18px;
  border-color: #F8EEA6;
  margin-right: 25px;
  border-radius: 20px;
  padding-top: 3px;
  padding-bottom: 5px;
}
@media screen and (max-width: 991px) {
  .header_container .login a.registration {
    display: none;
  }
}

.header_container .login a.registration:hover {
  box-shadow: inset 0 0 3px 2px #F8EEA6;
}

.header_container .login a.registration:active {
  background: #FFE450;
  color: #fff;
  border-color: transparent;
  box-shadow: none;
}

.header_container .user {
  position: absolute;
  right: 15px;
  top: 0;
}
.header_container .user .dropdown-menu {
  display: block;
  left: auto;
  right: 0;
}
@media screen and (max-width: 991px) {
  .header_container .user .dropdown .name, .header_container .user .dropdown .caret {
    display: none;
  }
  .header_container .user .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 5;
    margin: 0;
  }
  .header_container .user .dropdown-menu:before {
    left: auto;
    right: 13px;
  }
}

.header_container .user .avatar {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}

.header_container .user .dropdown {
  display: inline-block;
  vertical-align: top;
  margin-left: 7px;
}

.header_container .user .dropdown button {
  color: #f2e5a7;
  font-size: 16px;
  position: relative;
  top: 1px;
}

.header_container .user .dropdown button:hover .name:hover {
  text-decoration: underline;
}

.header_container .user .dropdown button:hover {
  text-decoration: none !important;
}

.header_container .user .dropdown button:hover .name {
  border-color: #f2e5a7;
}

.header_container .user .dropdown span.caret {
  background-position: 0 -15px;
}

.header_container .user .dropdown ul {
  width: 270px;
}

.header_container .user .dropdown-menu > li > a .number {
  color: #2eb234;
}

.header_container .user .dropdown-menu > li.add > a:before {
  content: '';
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  background: url(../img/begin.png);
  background-position: 0 -33px;
  margin-right: 8px;
  float: left;
}

.modal-dialog {
  margin-left: auto;
  margin-right: auto;
}

/* Main nav
------------------------------------------------------------------------------------ */
.main_nav_container {
  border-bottom: 1px solid #d0d1d5;
  padding-top: 20px;
}
.main_nav_container .col-sm-4 {
  position: static;
}
.main_nav_container .container {
  position: relative;
  min-height: 45px;
}
@media screen and (max-width: 991px) {
  .main_nav_container ul.main_nav {
    font-size: 15px;
    max-width: 160px;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
    min-width: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .main_nav_container ul.main_nav:before {
    content: '';
    border-bottom: 7px solid #fff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -7px;
  }
  .main_nav_container ul.main_nav li a {
    display: block;
    padding: 7px 25px !important;
    color: #2238bb;
    text-decoration: none !important;
    border-top: 1px solid transparent;
  }
  .main_nav_container ul.main_nav li a.active {
    font-weight: bold;
    margin: 0 !important;
  }
  .main_nav_container ul.main_nav li a:hover {
    border-top: 1px solid #cdba92;
    background: #452e16;
    background: -moz-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: -webkit-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: -o-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: -ms-linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    background: linear-gradient(bottom, #fdf8d3 0%, #faf4ce 25%, #f5eec7 50%, #f2e9c1 65%, #eee4bb 80%, #eee4b9 100%);
    color: #2238bb;
  }
  .main_nav_container ul.main_nav li {
    display: block !important;
  }
}

.main_nav_container ul.main_nav {
  position: relative;
}
@media screen and (min-width: 992px) {
  .main_nav_container ul.main_nav {
    display: block !important;
    visibility: visible !important;
  }
}

.main_nav_container ul.main_nav li {
  display: inline-block;
}

.main_nav_container ul.main_nav li a {
  padding: 18px 25px 14px;
  display: block;
  font-size: 20px;
}

.main_nav_container ul.main_nav li a.active {
  color: #000000;
}
@media screen and (min-width: 992px) {
  .main_nav_container ul.main_nav li a.active {
    border: 1px solid #d0d1d5;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    box-shadow: -4px -7px 12px rgba(111, 129, 184, 0.1), 9px -6px 12px rgba(111, 129, 184, 0.1);
  }
}

.main_nav_container ul.main_nav li a.active:hover {
  text-decoration: none;
}

.main_nav_container ul.main_nav li.disabled a {
  pointer-events: none;
  cursor: default;
  color: #d1d2df;
}

.main_nav_container .begin_practic {
  padding-top: 20px;
}
@media screen and (max-width: 991px) {
  .main_nav_container .begin_practic {
    float: right;
    padding: 0;
  }
  .main_nav_container .begin_practic .help {
    display: none !important;
  }
  .main_nav_container .begin_practic .begin {
    margin: 0 !important;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
    line-height: 0;
  }
  .main_nav_container .begin_practic .begin a {
    font-size: 0 !important;
  }
}

.main_nav_container .begin_practic .help,
.main_nav_container .begin_practic .begin {
  display: inline-block;
}

.main_nav_container .begin_practic .begin {
  margin-right: 30px;
}

.main_nav_container .begin_practic a {
  font-size: 16px;
  line-height: 30px;
}

.main_nav_container .begin_practic .begin a:hover {
  color: #f9cd00;
}

.main_nav_container .begin_practic .begin a:before {
  content: '';
  width: 31px;
  height: 31px;
  float: left;
  background: url(../img/begin.png);
  margin-right: 7px;
}

.main_nav_container .begin_practic .begin a:hover:before {
  background-position: -32px 0px;
}

.main_nav_container .begin_practic .begin a:active:before {
  background-position: -64px 0px;
}

.main_nav_toggle {
  font-size: 25px;
  line-height: 1;
  color: #2238ba;
  text-decoration: none !important;
}

/* Sidebar
-------------------------------------------------------------------------------------*/
.main_content_container .sidebar {
	padding-top: 38px;
}
.main_content_container .sidebar ul {
	margin-top: 10px;
	border-top: 1px solid #d8d8d8;
}
.main_content_container .sidebar ul li {
	margin-top: 30px;
	list-style-type: none;
}
.main_content_container .sidebar ul li a {
	font-size: 19px;
	font-family: 'PTSerif';
}
.main_content_container .sidebar ul li a:hover {
	color: #2639ad;
}
.main_content_container .sidebar ul li a:active {
	color: #f9cd00;
}
.main_content_container .sidebar ul li p {
	margin-top: 5px;
	color: #404040;
}


/* Content
------------------------------------------------------------------------------------ */
.main_content {
	padding-right: 45px;
}
.main_content .content_nav {
    padding-top: 40px;
}
.main_content .content_nav ul.content_type {
    display: inline-block;
    margin-right: 35px;
    border-bottom: 1px solid #d8d8d8;
}
.main_content .content_nav ul.content_type li {
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
}
.main_content .content_nav ul.content_type li:first-child {
    margin-right: 20px;
}
.main_content .content_nav ul.content_type li a {
    text-decoration: none;
    font-size: 15px;
    color: #2238bb;
}
.main_content .content_nav ul.content_type li.active a,
.main_content .content_nav ul.content_type li:hover a {
    color: #000;
}
.main_content .content_nav ul.content_type li.active:before {
    content: '';
    background: #0015dc;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 0;
}
.main_content .content_nav .dropdown {
    display: inline-block;
}
.main_content .content_nav .first_dropdown {
    margin-right: 35px;
}
.main_content .post {
    margin-top: 15px;
    margin-bottom: 20px;
}
.main_content .post .media .media-left img {
	margin-top: 5px;
	width: 40px;
	height: 40px;
}
.main_content .post .media-body {
	padding-left: 10px;
}
.main_content .tags {
	padding-left: 11px;
}
.main_content ul.tags li {
    display: inline-block;
    margin-right: 18px;
    margin-bottom: 4px;
}
.main_content .tags li a {
	display: block;
	font-size: 15px;
	position: relative;
	color: #595959;
}
.main_content .tags li a:hover {
	text-decoration: none;
}
.main_content .tags li a.green {
	border-bottom: 1px solid #82df4d;
}
.main_content .tags li a.green:hover {
	border-bottom: 1px solid #82df4d;
	color: #82df4d;
}
.main_content .tags li a.green:active {
	border-bottom: 1px solid #f0d248;
	color: #f0d248;
}
.main_content .tags li a.blue {
	border-bottom: 1px solid #95a3f7;
}
.main_content .tags li a.blue:hover {
	border-bottom: 1px solid #95a3f7;
	color: #95a3f7;
}
.main_content .tags li a.blue:active {
	border-bottom: 1px solid #f0d248;
	color: #f0d248;
}
.main_content .tags li a.yellow {
	border-bottom: 1px solid #f0d248;
}
.main_content .tags li a.yellow:hover {
	color: #e3c22a;
}
.main_content .tags li a.yellow:active {
	border-bottom: 1px solid #f0d248;
	color: #f0d248;
}
.main_content .tags li a.other {
	border-bottom: 1px solid #dcdcdc;
}
.main_content .tags li a.other:hover {
	border-bottom: 1px solid #000000;
}
.main_content li a.one:before {
	content: url(../img/up_one.png);
	position: absolute;
	left: -10px;
	top: -3px;
}
.main_content li a.three:before {
	content: url(../img/up.png);
	position: absolute;
	left: -10px;
	top: 1px;
}
.main_content .media-body .tags li a.other:active {
	border-bottom: 1px solid #f0d248;
	color: #f0d248;
}
.main_content .post .title {
    font-size: 25px;
	font-family: 'PTSerif';
	margin-bottom: 12px;
}
.main_content .post .title a:hover {
	text-decoration: none;
	border-bottom: 1px solid #2639ad;
}
.main_content .post .title a:active {
	border: none;
}
.main_content .moredator_post {
	margin-top: 30px;
}
.main_content .moredator_post .title a {
	color: #ed4848;
}
.main_content .moredator_post .title a:hover {
	border-bottom: 1px solid #ed4848;
}
.main_content .post ul.post_nav {
	margin-bottom: 5px;
}
.main_content .post ul.post_nav > li {
    display: inline-block;
    margin-right: 15px;
    line-height: 13px;
}
.main_content .post ul.post_nav > li > a,
.main_content .post ul.post_nav > li > button {
	font-size: 14px;
}
.main_content .post ul.post_nav > li > a.author {
	border-bottom: 1px solid #c4c4c4;
	text-decoration: none;
	color: #000000;
}
.main_content .post ul.post_nav > li > a.author:hover {
	border-bottom: 1px solid #000000;
}
.main_content .post ul.post_nav > li > a.author:active {
	border-bottom: 1px solid #f0d248;
	color: #f0d248;
}
.main_content .post ul.post_nav > li img {
	margin-right: 5px;
}
.main_content .post .post_preview {
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 4px;
	position: relative;
}
.main_content .post .post_preview .image_preview {
	max-width: 100%;
	margin-top: 8px;
}
.main_content .post .post_preview .post_edit {
	position: absolute;
	top: 15px;
	left: -60px;
}
.main_content .post .post_preview p {
    padding: 10px 0;
}
.main_content .pagination {
	border-top: 1px solid #d7d7d8;
	width: 100%;
	border-radius: 0;
	text-align: center;
}
.main_content .pagination li {
	display: inline-block;
}
.main_content .pagination li.previous {
	float: left;
}
.main_content .pagination li.next {
	float: right;
}
.main_content .pagination li a {
	border: 1px solid transparent;
	border-top: 1px solid #d8d8d8;
	margin-top: -1px;
	padding: 10px 14px;
	font-size: 18px;
	border-radius: 0;
}
.main_content .pagination li a:hover {
	border: 1px solid #ffdfa6;
	background: #fff;
	box-shadow: 0 0 10px 1px rgba(255,223,166,.5);
	z-index: 5;
}
.main_content .pagination li a:focus {
	border-color: transparent;
	border-top-color: #d8d8d8;
	background: #fff;
}
.main_content .pagination li a:active {
	border: 1px solid #ffdfa6;
}
.main_content .pagination li.active a {
	color: #000000;
	border: 1px solid #d8d8d8;
	border-top: 1px solid #fff;
	background: #fff;
	box-shadow: 0px 3px 10px rgba(32,65,168,0.1);
}
.main_content .pagination li.disabled a:hover {
	border-color: transparent;
	border-top-color: #d8d8d8;
	box-shadow: none;
}


.statistic {
	margin-bottom: 10px;
    line-height: 30px;
}
.statistic ul.post_info {
    float: left;
    line-height: 30px;
}
.statistic ul.post_info li {
    display: inline-block;
    font-size: 14px;
    color: #595959;
    margin-right: 30px;
    position: relative;
}
.statistic ul.post_info li.visited:before {
	content: url(../img/people.png);
	top: 0px;
	left: -12px;
	position: absolute;
}
.statistic ul.post_info li.comments:before {
	content: url(../img/comments.png);
	top: 1px;
	left: -12px;
	position: absolute;
}
.statistic ul.post_info li.comments,
.statistic ul.post_info li.visited {
    font-size: 13px;
}
.statistic ul.post_info li.comments span.new {
    color: #0aac14;
}
.statistic form.rating {
    position: relative;
    margin-right: 0;
    float: left;
    font-size: 14px;
    color: #595959;
    height: 30px;
}
.statistic form.rating input[type="text"] {
    border: none;
    color: #0aac14;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    width: 60px;
    margin-left: -15px;
    text-align: center;
    padding: 0;
    box-shadow: none;
}
.statistic form.rating input[type="button"] {
    position: absolute;
    left: 0;
    background-color: transparent;
    border: none;
    outline: none;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    background-position: center center;
}
.statistic form.rating input.top {
    margin-top: -20px;
    background-image: url(../img/rating_top_arrow.jpg);
}
.statistic form.rating input.bottom {
    background-image: url(../img/rating_bottom_arrow.jpg);
    margin-bottom: -20px;
    bottom: 0px;
}
.statistic form.rating:hover input.top {
    margin-top: -25px;
    background-image: url(../img/rating_top_arrow_hover.png);
}
.statistic form.rating:hover input.bottom {
    margin-bottom: -27px;
    background-image: url(../img/rating_bottom_arrow_hover.png);
}

/* Add practice container
-------------------------------------------------------------------------------------*/
.add_practice_container {
	padding-top: 50px;
	padding-bottom: 50px;
}
.add_practice_container h1 {
	color: #434343;
	font-size: 35px;
}
.add_practice_container .practice_form label {
	display: block;
	font-size: 17px;
	color: #434343;
	margin-bottom: 8px;
	margin-top: 40px;
}
.add_practice_container .practice_form label span {
	float: right;
	color: #434343;
	font-size: 15px;
	font-style: italic;
	font-weight: lighter;
}
.add_practice_container .practice_form input::-webkit-input-placeholder,
.add_practice_container .practice_form textarea::-webkit-input-placeholder {
    font-style: italic;
}
.add_practice_container .practice_form input::-moz-placeholder,
.add_practice_container .practice_form textarea::-moz-placeholder {
    font-style: italic;
}
/* Firefox 19+ */
.add_practice_container .practice_form input:-moz-placeholder,
.add_practice_container .practice_form textarea:-moz-placeholder {
    font-style: italic;
}/* Firefox 18- */
.add_practice_container .practice_form input:-ms-input-placeholder,
.add_practice_container .practice_form textarea:-ms-input-placeholder {
    font-style: italic;
}
.add_practice_container .practice_form #description_practice {
	height: 248px;
}
.add_practice_container .practice_form #short_description {
	height: 68px;
}
.add_practice_container .tags_container input[type="text"] {
	width: 264px;
	float: left;
}
.add_practice_container .tags_container .btn_white {
	width: 150px;
	margin-left: 16px;
	float: left;
}
.add_practice_container .tags_container .btn_white:before {
	content: '';
	width: 11px;
	height: 8px;
	background: url(../img/add_tags.png);
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: -2px;
}
.add_practice_container .tags_container .btn_white:hover:before {
	content: '';
	background-position: 0 -8px;
}
.add_practice_container .tags_container .btn_white:active:before {
	content: '';
	background-position: 0 -16px;
}
.add_practice_container .tags_container span {
	font-size: 15px;
	color: #75a946;
	display: inline-block;
	width: 225px;
	line-height: 20px;
	float: left;
	margin-left: 16px;
}
.add_practice_container .tags_container .delete {
	margin-left: 5px;
	margin-top: -2px;
	cursor: pointer;
}
.add_practice_container .tags_container ul.tags {
	margin-top: 15px;
	padding-left: 0;
}
.add_practice_container .tags_container ul.tags li {
	margin-right: 10px;
}
.add_practice_container .tags_container ul.tags li a {
	color: #8c8c8c;
	display: inline-block;
}
.add_practice_container .tags_container ul li a:hover {
	color: #f0d248;
	border-bottom: 1px solid #f0d248;
}
.add_practice_container .tags_container ul li a:active {
	color: #f0d248;
	border-bottom: none;
}
.add_practice_container .tags_container ul li:first-child a,
.add_practice_container .tags_container ul li:nth-child(2) a,
.add_practice_container .tags_container ul li:nth-child(3) a {
	font-weight: bold;
	color: #000;
}
.add_practice_container .form_footer {
	margin-top: 35px;
}
.add_practice_container .form_footer span {
	color: #b7b7b7;
	font-size: 18px;
	margin-left: 15px;
}
.add_practice_container .form_footer a {
	font-size: 18px;
	margin-left: 12px;
}
.main_content_container .main_content {
	margin-top: 28px;
}
.add_practice_tabs {
	margin-top: 50px;
}
.main_content_container .add_practice_container {
	padding-top: 10px;
}
/* content_practice
-------------------------------------------------------------------------------------*/
.media-body .lets_begin {
	margin: 20px 0 30px;
}
.media .media-body h1.title.practice {
	font-size: 28px;
	font-weight: 700;
}
.media-body .lets_begin button.find {
	width: 245px;
	height: 50px;
	float: left;
	color: #50ba00;
	font-size: 24px;
	margin-right: 15px;
	border: 2px solid #7FD400;
	border-radius: 50px;
	background: none;
	text-decoration: none;
	outline: none;
	margin-top: 5px;
	position: relative;
}
.media-body .lets_begin button.find .start,
.media-body .lets_begin button.find .in_my {
	position: absolute;
	top: 0;
	left: 0px;
	width: 245px;
	height: 50px;
	border-radius: 50px;
	line-height: 45px;
}
.media-body .lets_begin button.find .in_my {
	display: none;
	padding-left: 20px;
}
.media-body .lets_begin button.find.active {
	background: #53bc02;
	background: url(../img/chek_white.png) no-repeat left center, #53bc02;
	color: #fff;
	border: none;
	font-size: 21px;
}
.media-body .lets_begin button.find.active .start {
	display: none;
}
.media-body .lets_begin button.find.active .in_my {
	display: block;
}
.media-body .lets_begin button.find.active .in_my span {
	border-bottom: 1px solid;
}
.media-body .lets_begin p.top_text {
	margin-top: 9px;
}
.main_content .post .lets_begin p {
	width: 275px;
	float: left;
	padding: 0;
	font-size: 15px;
	line-height: 20px;
}
.media-body .lets_begin p a.btn {
	border: none;
	border-bottom: 1px dashed #bdc9f3;
	padding: 0px;
}
.media-body .lets_begin p a:hover {
	text-decoration: none;
	border: none;
}
.media-body .lets_begin p a:focus {
	border: none;
	box-shadow: none;
}
.comments_container {
	padding-left: 60px;
	margin-top: 40px;
	margin-bottom: 50px;
}
.comments_container h4 span {
	font-weight: normal;
	color: #50ba00;
}
.comments_container textarea {
	margin: 15px 0 25px;
	max-width: 100%;
	min-height: 33px;
}
.comments_container .commentator {
	position: relative;
}
.comments_container .commentator.inner {
	padding-left: 10px;
}
.comments_container .commentator .comment_info {
	width: 100%;
	padding-left: 55px;
}
.comments_container .commentator:hover .comment_info .options {
	display: block;
}
.comments_container .commentator .avatar_container {
	margin-right: 15px;
	position: absolute;
	left: 0;
	padding-top: 5px;
}
.comments_container .commentator.inner .avatar_container {
	left: 10px;
}
.comments_container .commentator .avatar_container img {
	width: 40px;
	height: 40px;
}
.comments_container .commentator .comment_info .name {
	float: left;
	margin-right: 11px;
	font-size: 15px;
}
.comments_container .commentator .comment_info .date {
	float: left;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	color: #939393;
}
.comments_container .commentator .comment_info .likes {
	float: right;
	font-size: 14px;
}
.comments_container .commentator .comment_info .likes.plus {
	color: #00bd12;
}
.comments_container .commentator .comment_info .likes.minus {
	color: #bd6200;
}
.comments_container .commentator .comment_info .options {
	float: right;
	font-size: 15px;
	display: none;
}
.comments_container .commentator .comment_info .options a {
	margin-right: 15px;
}
.comments_container .commentator .comments_content {
	width: 100%;
	padding-left: 55px;
}
.comments_container .commentator .comments_content p {
	margin-bottom: 21px;
}
.post_preview .modal-dialog {
	width: 570px;
	height: 600px;
}
.post_preview .modal-dialog button.close {
	right: 14px;
	color: #5367e0;
}
.post_preview .modal-dialog .nav-tabs {
	text-align: center;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 0px;
	height: 55px;
}
.post_preview .modal-dialog .nav-tabs li {
	display: inline-block;
	padding: 0px 15px 1px;
	float: none;
	height: 55px;
}
.post_preview .modal-dialog ul.nav-tabs li.active a {
	border-bottom: 1px solid #0015dc;
	height: 54px;
}
.post_preview .modal-dialog ul.nav-tabs li a {
	background: none;
}
.post_preview .modal-dialog .tab-content {
	padding: 0px 10px;
	height: 545px;
	overflow-y: scroll;
}
.friends_container {
	height: 545px;
}
.friends_container li {
	padding: 10px 0px;
	list-style-type: none;
	border-bottom: 1px solid #ebebeb;
}
.friends_container li:last-child {
	border: none;
}
.friends_container li .img_container {
	float: left;
	margin-right: 10px;
}
.friends_container li .img_container img {
	width: 40px;
	height: 40px;
}
.friends_container li a.name {
	float: left;
	line-height: 40px;
	font-size: 16px;
}
.main_content .friends_container li a.green {
	font-size: 15px;
	float: right;
	width: 125px;
	height: 35px;
	border: 1px solid #74b96b;
	border-radius: 50px;
	background: none;
	color: #1d9b00;
	margin-top: 5px;
	padding-top: 5px;
	text-align: center;
	display: block;
	text-decoration: none;
}
.main_content .friends_container li a.green span.off {
	display: none;
	color: #ff5353;
}
.main_content .friends_container li a.green:hover {
	border: 1px solid #ee8484;
	width: 150px;
}
.main_content .friends_container li a.green:hover span.off {
	display: block;
}
.main_content .friends_container li a.green:hover span.was {
	display: none;
}
.friends_container li a.green img {
	margin-right: 6px;
}
.friends_container li a.add {
	text-align: center;
	width: 150px;
	height: 35px;
	float: right;
	border: 1px solid #dadadb;
	border-radius: 50px;
	line-height: 30px;
	text-decoration: none;
	color: #000000;
}
.friends_container li a.add:hover {
	border: 1px solid #FBE63E;
	color: #FBE63E;
}
.friends_container li a.add:active {
	color: #fff;
	background: #FBE63E;
	border: 1px solid #FBE63E;
}
.post_preview .modal-dialog button.close {
	top: 18px;
	right: 14px;
}
/* awareness
-------------------------------------------------------------------------------------*/
.awareness {
	text-align: center;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 30px;
	border: 4px solid #ffefb0;
	padding: 45px 90px 20px;
}
.awareness h1 {
	font-family: 'PT Serif', serif;
	margin-bottom: 10px;
}
.awareness > p {
	font-size: 20px;
	margin-bottom: 40px;
	font-family: 'PT Serif', serif;
}
.awareness .feed {
	text-align: center;
}
.awareness .feed p {
	display: inline-block;
	margin-right: 20px;
	line-height: 62px;
	font-size: 17px;
	padding-top: 3px;
}
.awareness .feed input.btn_green {
	display: inline-block;
}
/* Main page
-------------------------------------------------------------------------------------*/
.main_page {
	min-height: 100%;
}
.main_page .container {
	clear: both;
	max-width: 1000px;
}
.main_page body {
	background: url(../img/main_bottom.jpg) no-repeat bottom center;
	background-size: 100%;
	padding-top: 16px;
	min-height: 100%;
	padding-bottom: 50px;
}
.main_page .devil_cloud,
.main_page .angel_cloud {
	width: 100%;
	overflow: hidden;
	height: 100%;
	position: absolute;
	top: 0;
}
.main_page .devil_cloud img,
.main_page .angel_cloud img {
	position: relative;
}
.main_page .enter {
	text-align: right;
	padding-top: 30px;
}
.main_page .enter a {
	font-size: 17px;
	text-decoration: underline;
}
.main_page .enter a:hover {
	text-decoration: none;
}
.main_page .navbar {
	margin-bottom: 0;
	margin-top: 30px;
}
.main_page .navbar .navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}
.main_page .navbar-nav {
	text-align: center;
	float: none;
}
.main_page .navbar-nav>li {
	float: none;
	display: inline-block;
}
.main_page .navbar-nav>li>a {
	font-size: 17px;
	text-decoration: underline;
	margin-right: 8px;
	margin-left: 8px;
}
.main_page .navbar-nav>li.disabled>a {
	pointer-events: none;
    cursor: default;
    color: #9f9f9f;
    text-decoration: none;
}
.main_page .navbar-nav>li>a:hover {
	text-decoration: none;
}
.main_page .navbar-nav>li>a,
.main_page .navbar-nav>li>a:hover,
.main_page .navbar-nav>li>a:focus {
	background: none;
	padding: 0;
}
.main_page .main_page_content {
	margin-top: 20px;
}
.main_page .main_page_content h1 {
	font-size: 22px;
	line-height: 28px;
	color: #000;
	margin: auto;
	text-align: center;
	font-family: 'PTSerif';
	max-width: 350px;
}
.main_page .devil_container,
.main_page .angel_container {
	overflow: hidden;
}
.main_page .devil_container {
	padding-right: 13px;
	margin-top: -20px;
}
.main_page .angel_container {
	padding-left: 13px;
	margin-top: -20px;
}
.main_page .main_page_content .devil {
	float: right;
	width: 435px;
}
.main_page .main_page_content .devil img {
	margin-right: 50px;
}
.main_page .main_page_content .angel img {
	margin-left: 50px;
}
.main_page .main_page_content .angel {
	width: 440px;
}
.main_page .main_page_content .devil,
.main_page .main_page_content .angel {
	position: relative;
}
.main_page .main_page_content .devil .tooltipe,
.main_page .main_page_content .angel .tooltipe {
	width: 185px;
	height: 105px;
	margin-top: 70px;
}
.main_page .main_page_content .angel .tooltipe {
	float: left;
}
.main_page .main_page_content .devil .tooltipe {
	float: right;
}
.main_page .main_page_content .devil .tooltipe .tr,
.main_page .main_page_content .angel .tooltipe .tr {
	display: table;
	height: 100%;
}
.main_page .main_page_content .devil .tooltipe .tr .td,
.main_page .main_page_content .angel .tooltipe .tr .td {
	vertical-align: middle;
	display: table-cell;
	font-size: 18px;
	color: #000;
	padding-left: 35px;
	padding-right: 40px;
	text-align: center;
	line-height: 20px;
}
.main_page .main_page_content .devil .tooltipe .tr .td {
	padding-left: 67px;
}
.main_page .main_page_content .angel .tooltipe .tr .td {
	padding-right: 60px;
}
.main_page .main_page_content .angel .tooltipe {
	background: url(../img/tooltip_left.png);
	background-size: cover;
}
.main_page .main_page_content .devil .tooltipe {
	background: url(../img/tooltip_right.png);
	background-size: cover;
}
.main_page .works {
	margin-top: 40px;
	text-align: center;
}
.main_page .works a {
	border: 1px solid #92E142;
	display: inline-block;
	border-radius: 20px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 2px;
	padding-bottom: 4px;
	font-size: 20px;
	text-decoration: none;
	color: #000;
	margin-left: 3px;
	margin-right: 4px;
	margin-bottom: 10px;
}
.main_page .works a:hover {
	border-color: #92E142;
	background: -webkit-linear-gradient(top, #61B100 , #85D92C);
	background: -moz-linear-gradient(top, #61B100 , #85D92C);
	background: -o-linear-gradient(top, #61B100 , #85D92C);
	background: -ms-linear-gradient(top, #61B100 , #85D92C);
	background: linear-gradient(top, #61B100 , #85D92C);
	color: #fff;
}
/* Tabs
-------------------------------------------------------------------------------------*/
.banner_container {
	padding: 35px 0px 40px;
}
.banner_container .banner_img {
	float: left;
	margin-right: 20px;
}
.banner_container .user {
	border: 4px solid #ffefb0;
}
.banner_container .user h3 a {
	font-family: 'PT Sans',
}
.banner_container .user .user_name {
	padding-top: 30px;
	float: left;
}
.banner_container .user .user_name h3 {
	margin-bottom: 20px;
}
.banner_container .user .user_name h3 a {
	font-family: 'PT Sans',
}
.banner_container .user .user_name a.add {
	width: 150px;
	height: 35px;
	float: left;
	border: 1px solid #dadadb;
	border-radius: 50px;
	line-height: 35px;
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	text-align: center;
}
.banner_container .user .user_name a.add:hover {
	border: 1px solid #FBE63E;
	color: #FBE63E;
}
.banner_container .user .user_name a.add:active {
	color: #fff;
	background: #FBE63E;
	border: 1px solid #FBE63E;
}
.banner_container .user .social {
	float: right;
	padding-top: 80px;
}
.banner_container .user .social a {
	width: 40px;
	height: 40px;
	background: url(../img/social_tabs.png);
	display: block;
	float: right;
	margin-right: 11px;
}
.banner_container .user .social a:hover {
	opacity: 0.9;
}
.banner_container .user .social a.vk {
	background-position: 0px 0px;
}
.banner_container .user .social a.fb {
	background-position: -40px 0px;
	margin-right: 8px;
}
/* tabs_nav
------------------------------------------------------------------------------------*/
.tabs_page .main_content {
	padding-right: 0;
}
.tab_list_wrap {
	border-bottom: 1px solid #dddddd;
}
.tabs_nav ul.nav-tabs {
	border-bottom: none;
}
.tabs_nav ul.nav-tabs li a {
	font-size: 20px;
	border-radius: 0;
}
.tabs_nav ul.nav-tabs li a:hover {
	background: none;
	border: 1px solid transparent;
	border-bottom: none;
}
 .tabs_nav ul.nav-tabs li.active a {
	box-shadow: -4px -7px 12px rgba(111,129,184,.1),
 				9px -6px 12px rgba(111,129,184,.1)
 }
.tabs_nav ul.nav-tabs li.active a:hover {
	border: 1px solid #dddddd;
	border-bottom: 1px solid #fff;
}
.tabs_nav ul.nav-tabs li span {
	font-size: 15px;
	color: #717171;
}
.tabs_container {
	padding-top: 45px;
}
.profile h6,
.tabs_sidebar h6 {
	padding-bottom: 10px;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 15px;
}
.profile a {
	font-size: 16px;
}
.profile h6 span,
.tabs_sidebar h6 span {
	color: #717171;
	font-size: 14px;
}
.profile .left_side .about_you {
	margin-bottom: 55px;
}
.profile .left_side table.contact_info {
	margin-bottom: 45px;
}
.profile .left_side table.contact_info tr td {
	padding-right: 20px;
	padding-top: 5px;
}
.profile .left_side table.contact_info tr td p span {
	color: #707070;
}
.profile .left_side h6.practice_title  {
	border: none;
	margin: 0px;
}
.tabs_nav .left_side table.practice {
	width: 100%;
	margin-bottom: 50px;
}
.tabs_nav .left_side table.practice tr:last-child td {
	border-bottom: none;
}
.tabs_nav .left_side table.practice tr td {
	padding: 13px 20px 8px 0px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	min-width: 110px;
}
.tabs_nav .left_side table.practice tr td:last-child {
	min-width: 60px;
}
.tabs_nav .left_side table.practice tr td a {
	font-size: 16px;
}
.tabs_nav .left_side table.practice tr td img {
	margin-top: -3px;
	margin-right: 3px;
}
.tabs_nav .left_side table.practice tr td span {
	color: #50ba00;
	font-weight: bold;
}
.profile h6 a,
.tabs_sidebar h6 a {
	padding-left: 15px;
}
.profile .left_side h6.friend {
	position: relative;
}
.profile .left_side h6.friend .show_all {
	position: absolute;
	right: 0px;
	bottom: 5px;
}
.profile .left_side ul {
	margin-bottom: 30px;
}
.profile .left_side ul li {
	list-style-type: none;
	width: 50%;
	float: left;
}
.profile .left_side ul li .img_container {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.profile .left_side ul li .img_container img {
	width: 40px;
	height: 40px;
}
.profile .left_side ul li a {
	line-height: 40px;
}
.practices .title {
	font-size: 28px;
	color: #000;
}
.tabs_nav .left_side table.practice {
	margin-bottom: 50px;
}
.practices .dropdown_big button {
	font-size: 28px;
	margin-left: 8px;
}
.practices .dropdown_big .caret {
	width: 16px;
	height: 11px;
	background: url(../img/arrows_big.png);
	margin-left: 20px;
}
.practices .dropdown_big button:active .caret {
	background-position: 0 -11px;
}
.practices .dropdown_big.open .caret {
	background-position: 0 -22px;
}
.practices .dropdown_big.open button:active {
	color: #f9cd00;
}
.practices .record_title {
	padding-right: 50px;
	position: relative;
	margin-top: 20px;
}
.practices .record_title a {
	font-size: 24px;
}
.practices .record_title .number {
	font-size: 14px;
	color: #b4b4b4;
	position: absolute;
	right: 0;
	top: 3px;
}
.practices .diary_container p {
	margin-top: 10px;
}
.practices .statistic {
	margin-top: 20px;
	margin-bottom: 0;
	border-top: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
}
.practices .statistic form.rating input.top {
	margin-top: -16px;
}
.practices .statistic form.rating:hover input.top {
	margin-top: -22px;
}
.practices .statistic form.rating input.bottom {
	margin-bottom: -16px;
}
.practices .statistic form.rating:hover input.bottom {
	margin-bottom: -22px;
}
.practices .diary_container .statistic .pen {
	margin-right: 15px;
}
.practices .diary_container .statistic .pen img {
	margin-right: 5px;
}
.practices .diary_container .statistic .dropdown {
	display: inline-block;
}
.practices .statistic .dropdown button img {
	margin-right: 5px;
}
.practices .diary_container .statistic .right {
	float: right;
}
.practices .comments_container {
	padding-left: 0;
	margin-top: 18px;
}
.practices .comments_container a {
	font-size: 15px;
	margin-bottom: 15px;
	display: inline-block;
}
.practices .commentator .comments_content p {
	margin-top: 0;
	margin-bottom: 12px;
	line-height: 20px;
}

.practices .comments_container .logged_user {
	display: table;
	width: 100%;
	margin-top: 20px;
}
.practices .comments_container .logged_user .logged_avatar,
.practices .comments_container .logged_user textarea {
	display: table-cell;
}
.practices .comments_container .logged_user .logged_avatar {
	width: 55px;
	height: 40px;
	vertical-align: top;
}
.practices .comments_container .logged_user textarea {
	margin-top: 0;
}


.tabs_sidebar ul.added {
	margin-bottom: 25px;
}
.tabs_sidebar ul.added li {
	list-style-type: none;
	margin-bottom: 8px;
}
.tabs_sidebar a {
	font-size: 16px;
}
.tabs_sidebar ul.added li a span {
	color: #717171;
	font-size: 14px;
}
.tabs_sidebar .follows p {
	line-height: 26px;
	margin-bottom: 15px;
}
.tabs_container .content_nav {
	padding-top: 0px;
}
.tabs_container .content_nav ul li {
	margin-right: 15px;
}
.tabs_container .comments_container .commentator .comment_info .name span {
	font-size: 15px;
	color: #000000;
}
.tabs_container .title {
	margin-bottom: 0px;
	position: relative;
}
.tabs_container .title a {
	font-size: 18px;
}
.tabs_container .title span {
	font-size: 18px;
}
.tabs_container .title p {
	position: absolute;
	right: 0px;
	bottom: 5px;
	font-size: 14px;
	color: #b4b4b4;
}
.tabs_container .comment_info  a  {
	margin-bottom: 0px;
}
.tabs_container .logged_user textarea {
	height: 40px;
	resize: none;
	resize: vertical;
}
.tabs_container .comments_container {
	padding-left: 0px;
	margin-bottom: 10px;
}
.tabs_container .comments_add {
	margin-bottom: 6px;
}
.tabs_container .top_title a {
	font-size: 25px;
}
.tabs_container h6 a {
	font-weight: normal;
}
.tabs_container .dropdown_big button#dNew span {
	margin-left: 2px;
}
.tabs_container .practis_list .title {
	margin-bottom: 20px;
}
.tabs_container .commentator {
	margin-bottom: 4px;
}
/* Footer
-------------------------------------------------------------------------------------*/
.footer_container {
	border-top: 1px solid #d8d8d8;
	padding: 40px 0px 10px;
}
.footer_container .list {
	margin-bottom: 30px;
}
.footer_container .list ul li {
	list-style-type: none;
	margin-bottom: 15px;
}
.footer_container .list ul li a {
	color: #858585;
	font-size: 15px;
}
.footer_container p {
	font-size: 15px;
	margin-bottom: 10px;
}
.footer_container .social ul li  {
	list-style-type: none;
	float: left;
	margin-right: 4px;
	margin-bottom: 7px;
}
.footer_container .social ul li:last-child {
	margin-right: 0px;
}
.footer_container .social ul li a {
	display: block;
	border-radius: 50%;
	background: url(../img/social.png);
	width: 48px;
	height: 45px;
}
.footer_container .social ul li a.vk {
	background-position: 0px 0px;
}
.footer_container .social ul li a.fb {
	background-position: -48px 0px;
}
.footer_container .social ul li a.vk {
	background-position: -96px 0px;
}
.footer_container .social ul li a:hover {
	opacity: 0.8;
}
.footer_container .copy_right {
	text-align: right;
}
/* Media
------------------------------------------------------------------------------------ */

@media screen and (min-width: 1170px) {
    .container {
        width: 100%;
    }


}
@media screen and (min-width: 1347px) {
    .container {
    	width: 1330px;
    }
}
@media screen and (max-width: 1286px) {
	.main_nav_container ul.main_nav li a.active {
		margin-bottom: -3px;
	}
}
@media screen and (max-width: 1169px) {
	.main_nav_container ul.main_nav li a {
		font-size: 16px;
	}
	.add_practice_container .tags_container span {
		margin-left: 0;
		margin-top: 10px;
	}
}
@media screen and (max-width: 991px) {
	.main_nav_container ul.main_nav li a.active {
		box-shadow: none;
	}
	.main_nav_container ul.main_nav li a {
		padding: 15px 10px;
	}
	.main_content .pagination li a {
		border: 1px solid transparent;
		border-top: 1px solid #d8d8d8;
		margin-top: -1px;
		padding: 10px 14px;
		font-size: 15px;
		border-radius: 0;
	}
	.header_container .menu {
		margin-left: 20px;
	}
	.header_container .hover_menu:before {
		content: '';
		left: 162px;
	}
	.header_container .search,
	.header_container .search label,
	.header_container .search input {
		width: 255px;
	}
	.header_container .search {
		margin-left: 20px;
	}
	.header_container .login {
		padding-left: 0;
	}
	.header_container .login a {
		font-size: 14px;
	}
	.header_container .login a.registration {
		margin-right: 4px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.main_nav_container .begin_practic .begin {
		margin-right: 10px;
	}
	.main_nav_container .begin_practic a {
		font-size: 15px;
	}
	.add_practice_container .tags_container span {
		margin-left: 16px;
		margin-top: 0;
	}
	.header_container .vertical .tabs {
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
	}
	.main_page .logo img {
		display: block;
	}
	.main_page .navbar-nav {
		text-align: center;
	}
	.main_page .navbar-nav>li>a {
		margin-right: 4px;
		margin-left: 5px;
		font-size: 16px;
	}
	.main_page .enter a {
		font-size: 16px;
	}
	.main_page .navbar-nav>li:first-child a {
		margin-left: 0;
	}
	.main_page .navbar-nav>li:last-child a {
		margin-right: 0;
	}
	.main_page .devil_container {
		padding-right: 0;
	}
	.main_page .angel_container {
		padding-left: 0;
	}
	.main_page .devil_container .devil {
		width: 385px;
	}
	.main_page .angel_container .angel {
		width: 390px;
	}
	.main_page .main_page_content .devil img {
		margin-right: 0;
	}
	.main_page .main_page_content .angel img {
		margin-left: 0;
	}
	.main_page .main_page_content .devil .tooltipe {
		margin-right: 0;
	}
	.main_page .main_page_content .angel .tooltipe {
		margin-left: 0;
	}
	.tabs_page .main_content .post .statistic ul.post_nav img {
		display: none;
	}
	.tabs_page .main_content .post ul.post_nav > li {
		margin-right: 6px;
	}
	.tabs_page .main_content .post .statistic ul.post_nav > li {
		margin-right: 10px;
	}
	.tabs_page .statistic ul.post_info li {
		margin-right: 25px;
	}
	.tabs_page .statistic ul.post_info li:last-child {
		margin-right: 15px;
	}
	.banner_container .user .user_name h3 span {
		display: none;
	}

	.tabs_container .tabs_sidebar {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	.main_content {
		padding-right: 15px;
	}
    .footer_container {
    	text-align: center;
    }
    .footer_container .social ul li {
    	float: none;
    	display: inline-block;
    }
    .footer_container .social ul {
    	margin-bottom: 30px;
    }
    .footer_container .copy_right p {
    	text-align: center;
    }
    .add_practice_container .tags_container .btn_white {
    	margin-left: 0;
    	margin-top: 10px;
    	margin-right: 20px;
    }
    .add_practice_container .tags_container .btn_white:before,
    .add_practice_container .tags_container .btn_white:hover:before,
    .add_practice_container .tags_container .btn_white:active:before {
    	content: none;
    }
    .add_practice_container .tags_container input[type="text"] {
    	width: 100%;
    }
	.add_practice_container .tags_container span {
		margin-left: 0;
		margin-top: 10px;
	}
	.main_page .logo img {
		display: block;
		margin-top: 0;
	}
	.main_page .nav_container {
		text-align: center;
	}
	.main_page .navbar {
		display: inline-block;
		margin-top: -57px;
	}
	.main_page .navbar .navbar-collapse {
		padding-left: 15px;
		padding-right: 15px;
	}
	.main_page .navbar-nav {
		text-align: center;
	}
	.main_page .navbar-nav>li {
		display: block;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.main_page .navbar-nav>li a {
		margin-right: 0;
		margin-left: 0;
		font-size: 22px;
	}
	.navbar-toggle {
		margin-right: 0;
	}
	.navbar-toggle {
		float: none;
	}
	.navbar-toggle .icon-bar {
		background: #2639ad;
	}
	.main_page .enter a {
		font-size: 18px;
	}
}
@media screen and (max-width: 510px) {
	.add_practice_container .form_footer span {
		display: block;
		margin-top: 6px;
		margin-bottom: 2px;
	}
}
@media screen and (max-width: 480px) {
	.awareness .feed p {
		float: none;
		margin: auto;
	}
	.awareness .feed input.btn_green {
		float: none;
		margin: auto;
	}
	.main_page .navbar {
		display: block;
		margin-top: 20px;
	}
}
@media screen and (max-width: 465px) {
	.banner_container .user .social {
		padding-top: 10px;
	}
}
